// Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// font variable
$Montserrat-font: 'Montserrat';

* {
    margin: 0;
    padding: 0;
    font-family: $Montserrat-font;
}

// h1, h2, h3, h4 {
//     font-weight: 900
// }

$display-font-sizes: (
  1: 15rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";