$breakPoints: (
    "xs": 0,
    "sm": 480px,
    "md": 720px,
    "lg": 960px,
    "xl": 1200px,
);

.wrapper {
    background-image: url("https://images.unsplash.com/photo-1526772662000-3f88f10405ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-size: cover;
    height: 100vh;
    display: flex;
    // align-items: center;
    position: relative;

    .heroBody {
        margin-top: 10rem;
        gap: 20px;
        z-index: 2;
        
        .leftBody {
            // flex: 4;

            h1 {
                color: white;
                // font-size: 4.5em;
                font-weight: 900;
                text-transform: uppercase;
                margin-bottom: 2.5em;
            }

            p {
                color: white;
                width: 40%;
            }
        }

        .rightBody {
            // flex: 3;
            color: white;

            .stat {
                display: flex;
                flex-direction: column;

                :nth-child(1) {
                    font-weight: 500;
                    font-size: 22px;
                }

                :nth-child(2) {
                    font-weight: 800;
                    font-size: 30px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .overlay {
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 0.4);
        height: 100%;
        width: 100%;
    }
} 