//page
.pageBg {
  background-image: url("https://res.cloudinary.com/dxp4ne8fl/image/upload/v1670324651/mansalu-circuit_i8kztg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

//serviceSection
.serviceContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}
